# Unreal Engine — ignore generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
*.sln
*.xcodeproj
*.xcworkspace
.vs/
*.VC.db
*.opensdf
*.sdf
*.suo
*.user
*.userosscache
*.sln.docstates
